<ion-header-bar class="bar-stable">
	<a class="button icon-left ion-chevron-left button-clear button-dark"  href="#/home"></a>
    <h1 class="title">{{friend.firstname}} {{friend.lastname}}</h1>
</ion-header-bar>

<ion-view view-title="MessengerX" >
	<ion-content>
		<div class="list">
		    <a class="item item-avatar" on-double-tap="onDoubleTap(friend.lastMsg)">
		      <img src="img/{{friend.image}}.jpg">
		      <h2>{{friend.lastMsg}}</h2>
		      <p style="font-size:80%"><i>3:45 PM</i></p>
		    </a>
		
			<div ng-repeat="message in messages">
		        <a class="item item-avatar" on-double-tap="onDoubleTap(friend.lastMsg)">
			      <img src="img/129.jpg">
			      <h2>{{ message.text }}</h2>
			      <p style="font-size:80%"><i>3:45 PM</i></p>
			    </a>	
	      	</div>
      	</div>
	</ion-content>

     <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
      <label class="item-input-wrapper">
   		<input type="text" id="form_input" value="{{xxx}}" placeholder="Type your message"  />
      </label>
      <button class="button button-clear" ng-click="sendMessage(xxx)">
        Send
      </button>
    </ion-footer-bar>
</ion-view>